.nav {
    background-color: #78d7c2;
    position: relative;
  }
  
#nav-header {
    display: inline;
  }
  
#nav-title {
    display: inline-block;
  }
  
#nav-links {
    margin: 30px 0px 10px 0px;
    display: inline;
    float: right;
  }

  .u{
   color: rgb(255, 255, 255);
  }
  